body {
    margin: 0;

}
canvas {
    z-index: 1;
    position: fixed;
}
a , h1 {
    z-index: 70;
    position: relative;
    color: white;
    text-decoration: none;
    font-size: 2.5rem;
}
a {
    background: black;
    padding: 10px;
     left: 880px;
     top: 300px;
    border-radius: 10px;
    border: none;
    animation: move 3s infinite alternate-reverse;
}
a:hover {
  background: rgba(0, 0, 0, 0.158);
}
h1 {
    top:15px;
}
@keyframes move {
    0% {
        transform: translateY(10px);
        opacity: 0.1;
        transform: rotateY(0);
    }
    100% {
        transform: translateY(-10px);
        opacity: 1;
         transform: rotateY(180deg);
    }
}